################################################################################

# Use ubuntu trusty (14.04) with sudo privileges.
dist: trusty
sudo: required

# Set build matrix and global CI env variables
env:
  global:
  - DOCKER_CACHE_DIR=$HOME/docker_cache
  # YOU MUST EDIT THIS VARIABLE TO MATCH YOUR REPO
  - DOCKER_CI_REL_DIR=dependencies/ros_docker_ci
  matrix:
    - DOCKER_DISTRO=trusty
    - DOCKER_DISTRO=xenial

################################################################################

# Have to pull git outside of docker as the container doesn't have an ssh key.
before_install:
  - git submodule init
  - git submodule -q update

# Load the cached docker container. Otherwise, delete and rebuild it.
#
# NOTE: The repo must have a the following script:
#   scripts/install_deps_for_docker_ci
# which defines how the docker container performs setup. Ideally this will just
# wrap the repo's standard script for installing dependencies
install:
  - travis_wait 45 bash ${DOCKER_CI_REL_DIR}/docker-setup-ci.bash

# Execute the CI script using the docker container
#
# YOU MUST EDIT THIS CALL'S TWO ARGUMENTS TO MATCH YOUR REPO
#
# docker-run-ci.sh takes two arguments:
#   {1}: The repository name
#   {2}: The relative path to the respository's own CI test script
script:
  - bash ${DOCKER_CI_REL_DIR}/docker-run-ci.bash ros_docker_ci_demo scripts/run-ci-tests.bash

# Cache the docker container if it was rebuilt above.
before_cache:
  - bash ${DOCKER_CI_REL_DIR}/save-docker-cache-ci.bash

cache:
  directories:
    - $HOME/docker_cache
  timeout: 1200
